.dropzone-ui-root {
  color: #646c7f;
  position: relative;
  //min-height: calc(280px - 2px);
  min-height: 280px;
  border-radius: 6px;
  //width: calc(100% - 2px);
  width: 100%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0 8px;
  justify-content: center;
  align-items: center;
  padding: 23px 0px;
  min-width: 150px;
  /// label
  text-rendering: optimizeLegibility;
  font-size: 1.5em;
  font-family: inherit;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.02857em;
  @media (max-width: 600px) {
    font-size: 1.3em;
  }
  word-break: normal;
  &.clickable {
    cursor: pointer;
  }
  .dz-ui-header {
    height: 22px;
    position: absolute;
    cursor: text;
    top: 0;
    display: flex;
    width: calc(100% - 10px);
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    //font-family: "Poppins", sans-serif;
    font-family: inherit;
    padding-right: 10px;
    font-size: 1rem;
    @media (max-width: 960px) {
      width: calc(100% - 1px);
      padding-right: 1px;
      font-size: 0.8rem;
    }
  }
  .dz-ui-footer {
    height: 23px;
    position: absolute;
    cursor: text;
    bottom: 0;
    left: 0;
    width: calc(100% - 10px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-top: 1px dotted grey;
    background-color: #80808021;
    font-family: "Poppins", sans-serif;
    font-family: inherit;
    padding-left: 10px;
    font-size: 1rem;
    @media (max-width: 960px) {
      width: calc(100% - 1px);
      padding-left: 1px;
      font-size: 0.8rem;
    }
  }
  // RIPPLE
  .dropzone-ui-base-ripple-absolute {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    .dropzone-ui-base-ripple-relative {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      span.ripple {
        position: absolute;
        border-radius: 50%;
        transform: scale(0);
        animation: ripple 500ms linear;
        background-color: rgba(255, 255, 255, 0.7);
      }
    }

    @keyframes ripple {
      to {
        transform: scale(4);
        opacity: 0;
      }
    }
  }
}
