.dui-footer {
  width: 100%;
  background-color: rgb(87, 12, 12);
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .dui-footer-logo-container {
    height: 45px;
  }
  .dui-footer-logo-text {
    color: white;
    font-size: 1em;
  }
}
